
@media screen and (max-width:420px)  {

 body {
 text-align: center;
 }

 #menu{display: flex;
  flex-direction: column;
margin-left:2em;}
p{font-size: 30em;
}
 
}

@media screen and (max-width:1200px)  {
#menu a{font-size:80%;
}
p{}
}


html{font-family: 'Intuitive', 'Tahoma';
}

body{
    display: flex;
  flex-direction: column;
}

@font-face {
  font-family: intuitive;
  src: url(intuitive/intuitive.woff);
}

p {color:black;
  font-size: 80%;
}
hr{background-color:black;
}

img{display: block;
    margin-left: auto;
    margin-right: auto;
  }

    #menu {
  display:inline-flex;
    width:100%;
    list-style-type:none; 
  background-color: white;
  justify-content: space-around;
  text-align: center; 
  
} 

#menu li {
  list-style: none;
}

#menu a {
  text-decoration: none;
    color: black;
    font-size: 150%;
    line-height: 2em;
    padding-bottom: 2em;
    flex-wrap: wrap;
    justify-content: space-around;

}
hr {width:"100%"; 
    color:"black";}
h2 {text-align: center;
font-size: 150%;}


#conteneur {
  background-image:url(logo/briques.jpg);
  display: flex;
  flex-direction: row;
  background-color: 
  justify-content:center;
  align-items: center;
  width: 100%;
  background-color: red;
         }

img.basdepage{float:left;}

.logoresp{color:grey;
          display: flex;
          justify-content: space-around;
}
.bouton1{background-color:#ff8000;
width: 5%;
text-align: center;}

.bouton2{background-color:#ff8000;
width: 10%;
text-align: center;}

   /*couleurs orange #ff8000
   rouge #ff0000
   vert #41a62b
   noir  #000000*/
footer{position: fixed; bottom: 0;

} 


